:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light Theme */
  color: #213547;
  background-color: #f3eaea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #007bff;
  text-decoration: inherit;
}

a:hover {
  color: #0056b3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

h1 {
  color: #1a1a1a; /* Darker text for heading */
  text-align: center;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #007bff; /* Blue color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light Mode Adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0056b3;
  }
  button {
    background-color: #007bff;
  }
}
